<!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
<div class="collapse navbar-collapse" style="height: 40px;">
    <ul class="navbar-nav mr-auto">
    <li *ngIf="loggedIn === false" class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" href="">Login</a>
    </li>
    <li *ngIf="loggedIn" class="nav-item active">
        <a class="nav-link" [routerLink]="['/items']" href="">Items</a>
    </li>
    </ul>

    <button *ngIf="loggedIn" (click)="logout()" type="button" class="btn btn-outline-light">Log out</button>
</div>
</nav>
